body,
html {
  height: 100%;
  margin: 0;
}

.container{
    height: 100%;

    display:grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(140px, 150px) 4fr;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 0px 10px 10px 10px;
    background-color: white;
    font-size: 18px;
}

.searchbar, .greeting-box{
    margin-left: 5%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons button{
    padding: 10px 30px;
    color:white;
    background-color: royalblue;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}
.user-name{
    font-weight: bold;
}
.searchbar {
    display: flex;  /* Use flexbox to align items horizontally */
    align-items: center;  /* Vertically center the items */
    gap: 5px;  /* Optional: Adds a little space between the button and input */

    
    width:100%;
}
.profile{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}
.profile div img {
    height: 40px;
    border-radius: 30px;
}
.greeting-box{
    display: flex;
    gap: 10px;
}
.greeting-box img{
    height: 70px;
    border-radius: 30px;
}
.greeting-box .greeting div:first-child{
    font-size: 12px;
}
.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greeting div:nth-child(2) {
    font-weight: bold;
    font-size: 20px
}

.searchbar input {
    width: 70%;
    height: 15px;

    background-color: rgb(233, 223, 223);
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}



.sidebar{
    display:grid;
    align-content: start;
    gap: 30px;
    padding-right: 10px;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: rgb(102, 133, 236);
    color: white;
    font-size: 24px;
}
.dashboard-header{
    font-size: 28px;
}
.dashboard, .dashboard-header{
    margin-left:20px;
    margin-top: 20px;
}

.dashboard{
    display: flex;
    flex-direction: column;
}
.dashboard div, .dashboard-header{
    display: flex;
    gap:10px;
    align-items: center;
}
.dashboard div img, .dashboard-header img{

    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
}
.dashboard-header img{
    width: 40px;
    height: 40px;
}
.dashboard div img{
    width: 25px;
    height: 25px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px auto; 
    grid-auto-rows: max-content;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: azure;
    gap: 20px;
}

.projects-header{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-left: 20px;
}
.announcements-header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding:20px;


    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.announcements-header, .trending-header,
.projects-header {
    font-weight: bold;
    font-size: 1.5em;
    justify-self: start;
    align-self: end;
}
.project-name, .announcement-name, .user-handle{
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.announcements{
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 10px;
    margin-top: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: white;
    
}
.announcement{
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid rgb(206, 197, 197);;
}
.announcement:last-child {
    border-bottom: none;
}


.trending-header{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.trending-tab{
    display: grid;
    grid-template-columns: 1fr;
    gap:15px;
    padding: 10px;

    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.trending-user{
    display: flex;
    gap: 10px;
}
.trending-user div img{
    height: 40px;
    border-radius: 30px;
}
.announcements ,.trending-tab{
    margin-right: 20px;
    margin-bottom: 40px;
}
.card, .announcements, .trending-tab{
    font-size: 1em;
    color:rgb(131, 127, 127);
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(202, 201, 201, 0.8);
}
.card{
    display:grid;

    height: 150px;
    width: minmax(300px, 100%);
    padding: 30px 10px 10px 10px;

    border-left: 6px solid rgb(245, 182, 10);
}
.widgets{
    justify-self: end;
    align-self: end;
}
.widgets button, .searchbar button, .profile button{
    background: none;
    border: none;
    padding: 10px; 
    cursor: pointer;
    transition: transform 0.2s ease;
}
.widgets button img , .searchbar button img, .profile button img{
    width: 25px;
    height: 25px;
    fill: #000000;
}
.widgets button:hover img, .searchbar button:hover img, .profile button:hover img{
    transform: scale(1.1);
}


