body,
html {
  height: 100%;
  margin: 0;
}

.container{
    height: 100%;

    display:grid;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: rgb(169, 235, 235);
}
.searchbar, .greeting-box{
    margin-left: 10%;
}

.searchbar {
    align-self: center;
    justify-self: center;

    
    width:100%;
}
.profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.greeting-box{
    display: flex;
    gap: 10px;
}
.greeting-box .greeting div:first-child{
    font-size: 12px;
}

.searchbar input {
    width: 70%;
    height: 15px;

    background-color: rgb(233, 223, 223);
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}



.sidebar{
    display:grid;
    align-content: start;
    gap: 30px;


    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: rgb(26, 68, 206);
    color: white;
}

.sidebar div:first-child{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li{
    margin-bottom: 10px;
}

.main-content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: azure;
}